<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/productlist" class="btn btn-default btn-sm">Product Page</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <a href="/orderstoday" class="btn btn-default btn-sm">Todays Orders</a>
        <a href="/orders" class="btn btn-default btn-sm">Historical Orders</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
</div>